---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

@import "{{ site.theme }}";
.markdown-body {
  font-family:  'OpenSans';
}

/* assets/css/style.css */

/* Add this to the end of your existing styles or wherever appropriate */
a {
    color: #467970; /* Change this to your desired link color */
    font-weight: bold; /* Make the link text bold */
}

/* Optional: Change the color of links when hovered over */
a:hover {
    color: #7bcbb9; /* Change this to your desired hover color */
  font-weight: bold; /* Make the link text bold */
}
